server:
  port: ${SERVER_PORT:5091}

spring:
  application:
    name: giftcards

  datasource:
    url: jdbc:sqlite:${DB_PATH:/app/data/app.db}
    driver-class-name: org.sqlite.JDBC

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect
        format_sql: true
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
